body {
    background-color: #333554;
    color: white;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper {
    width: 500px;
    background-color: #0B0F2B;
    border-radius: 6px;
    padding: 50px 50px 70px 50px;
}
label {
    display: block;
    color: #FFC107;
}
input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding-left: 30px;
    margin: 10px 0;
    border-radius: 6px;
    color: gray;
    background-color: #0f163d;
    border: solid 1px #FFC107;
    box-shadow: 2px 2px #ffc310;
}
button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin: 10px 0 20px 0;
    cursor: pointer;
}
.title {
    font-size: 1.8rem;
    margin-bottom: 30px;

}
a:link, a:visited {
    color: #FFC107;
}
h1 {
    font-size: 5rem;
    padding-block-start: 3.7rem;
    padding-inline-end: 2rem;
    color: #FFC107;
}
h2 {
    color: #FFC107;
}
#tittel {
    display: flex;
    padding-bottom: 2rem;
}
img {
    width: 150px;
}
.tekst {
    padding-left: 1rem ;
}
#error {
    color: red;
}